body {
    background-color: white;
    font-family: 'Marmelad', sans-serif;
}

header {
    background-color: rgb(0, 213, 255);
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 10%;
    min-height: 60px;
}

nav {
    /* border: 2px solid green; */
    display: grid;
    align-items: center;
    position: relative;
    padding-right: 10px;
}

#header-img-wrapper {
    /* border: 2px solid black; */
    justify-content: center;
}

header img {
    width: 12vw;
    height:auto;
    margin: 10px;
}

/* Hamburger Button */
#menu-toggle {
    font-size: 10em;
    height:fit-content;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    text-align: right;
    /* border: 2px solid red; */
    /* position: fixed; */
}

/* Menu List - hidden by default */
#menu {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: none; 
    flex-direction: column;
    background: #749AB3;
    position: fixed;
    top: 10%;
    right: 0;
    width: 20vh;
    font-size: 3.5vh;
}

/* Show menu when active */
#menu.active {
    display: flex;
    align-items: center;
}

#hello-section {
    display: grid;
    grid-template-columns: 1fr;
}

#hello-logo-wrapper {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

#hello-logo-wrapper img {
    width: 30vh;
}

#hello-text-wrapper {
    /* border: 2px solid black; */
    text-align: center;
}

#hello-section h1 {
    font-size: 14vw;
}

#hello-section p {
    font-size: 3vw;
}

#about-section {
    background: #749AB3;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 30vh;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

#about-text-wrapper {
    display: grid;
    justify-content: center;
}

#featured-section {
    display: grid;
    justify-content: center;
    /* width:fit-content */
}

#featured-section img {
    width: 85%;
}

/* Desktop Size */
@media only screen and (min-width: 600px) {

    header {
        border: 2px solid blue;
        height: auto;
    }

    #menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border: 2px solid red;
        width: auto;
        background: none;
        justify-content: space-between;
    }

    #menu-toggle {
        display: none;
    }
}